{% extends 'base/base.html' %}
{% load static %}

{% block body_class %}d-flex flex-column{% endblock %}

{% block body %}
<div class="page">
    <!-- Sidebar -->
    <aside class="navbar navbar-vertical navbar-expand-lg"
           data-bs-theme="dark"
           x-data="{ expanded: $store.sidebar.open }"
           :class="{ 'show': expanded }">
        <div class="container-fluid">
            <!-- Brand -->
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href="{% url 'core:dashboard' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-box"></use>
                    </svg>
                    <span class="ms-2">LATECME</span>
                </a>
            </h1>

            <!-- Mobile toggle -->
            <button class="navbar-toggler" type="button"
                    @click="$store.sidebar.toggle()"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Sidebar content -->
            <div class="collapse navbar-collapse" :class="{ 'show': expanded }">
                <ul class="navbar-nav pt-lg-3">
                    <!-- Dashboard -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' and request.resolver_match.app_name == 'core' %}active{% endif %}"
                           href="{% url 'core:dashboard' %}">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-home"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Dashboard</span>
                        </a>
                    </li>

                    <!-- Materiais -->
                    <li class="nav-item dropdown" x-data="{ open: {% if request.resolver_match.app_name == 'materials' %}true{% else %}false{% endif %} }">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.app_name == 'materials' %}active{% endif %}"
                           href="#"
                           @click.prevent="open = !open"
                           :class="{ 'show': open }">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-packages"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Materiais</span>
                        </a>
                        <div class="dropdown-menu" :class="{ 'show': open }" x-show="open" x-cloak>
                            <a class="dropdown-item" href="{% url 'materials:dashboard' %}">Dashboard</a>
                            <a class="dropdown-item" href="{% url 'materials:list' %}">Lista de Materiais</a>
                            <a class="dropdown-item" href="{% url 'materials:supplier_list' %}">Fornecedores</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'materials:create' %}">Novo Material</a>
                            <a class="dropdown-item" href="{% url 'materials:supplier_create' %}">Novo Fornecedor</a>
                        </div>
                    </li>

                    <!-- Estoque -->
                    <li class="nav-item dropdown" x-data="{ open: {% if request.resolver_match.app_name == 'inventory' %}true{% else %}false{% endif %} }">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.app_name == 'inventory' %}active{% endif %}"
                           href="#"
                           @click.prevent="open = !open"
                           :class="{ 'show': open }">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-archive"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Estoque</span>
                        </a>
                        <div class="dropdown-menu" :class="{ 'show': open }" x-show="open" x-cloak>
                            <a class="dropdown-item" href="{% url 'inventory:dashboard' %}">Dashboard</a>
                            <a class="dropdown-item" href="{% url 'inventory:stock_list' %}">Consultar Estoque</a>
                            <a class="dropdown-item" href="{% url 'inventory:movements_list' %}">Movimentações</a>
                            <a class="dropdown-item" href="{% url 'inventory:inventory_count_list' %}">Contagens</a>
                            <a class="dropdown-item" href="{% url 'inventory:warehouse_list' %}">Armazéns</a>
                            <a class="dropdown-item" href="{% url 'inventory:reservations_list' %}">Reservas</a>
                            <a class="dropdown-item" href="{% url 'inventory:reports' %}">Relatórios</a>
                        </div>
                    </li>

                    <!-- Produção -->
                    <li class="nav-item dropdown" x-data="{ open: {% if request.resolver_match.app_name == 'production' %}true{% else %}false{% endif %} }">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.app_name == 'production' %}active{% endif %}"
                           href="#"
                           @click.prevent="open = !open"
                           :class="{ 'show': open }">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-building-factory-2"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Produção</span>
                        </a>
                        <div class="dropdown-menu" :class="{ 'show': open }" x-show="open" x-cloak>
                            <a class="dropdown-item" href="{% url 'production:order_list' %}">Ordens de Produção</a>
                            <a class="dropdown-item" href="{% url 'production:batch_list' %}">Bateladas</a>
                            <a class="dropdown-item" href="{% url 'production:bin_list' %}">Contentores</a>
                        </div>
                    </li>

                    <!-- Compras -->
                    <li class="nav-item dropdown" x-data="{ open: {% if request.resolver_match.app_name == 'purchasing' %}true{% else %}false{% endif %} }">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.app_name == 'purchasing' %}active{% endif %}"
                           href="#"
                           @click.prevent="open = !open"
                           :class="{ 'show': open }">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-shopping-cart"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Compras</span>
                        </a>
                        <div class="dropdown-menu" :class="{ 'show': open }" x-show="open" x-cloak>
                            <a class="dropdown-item" href="{% url 'purchasing:dashboard' %}">Dashboard</a>
                            <a class="dropdown-item" href="{% url 'purchasing:request_list' %}">Solicitações</a>
                            <a class="dropdown-item" href="{% url 'purchasing:order_list' %}">Pedidos</a>
                            <a class="dropdown-item" href="{% url 'purchasing:receiving_list' %}">Recebimentos</a>
                        </div>
                    </li>

                    <!-- Labels -->
                    <li class="nav-item dropdown" x-data="{ open: {% if request.resolver_match.app_name == 'labels' %}true{% else %}false{% endif %} }">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.app_name == 'labels' %}active{% endif %}"
                           href="#"
                           @click.prevent="open = !open"
                           :class="{ 'show': open }">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-printer"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Etiquetas</span>
                        </a>
                        <div class="dropdown-menu" :class="{ 'show': open }" x-show="open" x-cloak>
                            <a class="dropdown-item" href="{% url 'labels:quick_print' %}">Impressao Avulsa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'labels:printer_list' %}">Impressoras</a>
                            <a class="dropdown-item" href="{% url 'labels:template_list' %}">Templates</a>
                            <a class="dropdown-item" href="{% url 'labels:print_job_list' %}">Histórico</a>
                        </div>
                    </li>

                    <li class="nav-item mt-auto">
                        <hr class="dropdown-divider my-2">
                    </li>

                    <!-- User profile link -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:profile' %}">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-user"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Perfil</span>
                        </a>
                    </li>

                    <!-- Logout -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-logout"></use>
                                </svg>
                            </span>
                            <span class="nav-link-title">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <!-- Sidebar overlay for mobile -->
    <div class="navbar-overlay"
         x-show="$store.sidebar.open"
         @click="$store.sidebar.close()"
         x-cloak></div>

    <!-- Page wrapper -->
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Home</a></li>
                                {% block breadcrumb %}{% endblock %}
                            </ol>
                        </nav>
                        <!-- Page title -->
                        <h2 class="page-title">
                            {% block page_title %}{% endblock %}
                        </h2>
                        {% block page_subtitle %}{% endblock %}
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        {% block page_actions %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <!-- Messages -->
                {% if messages %}
                <div class="mb-3">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible" role="alert"
                         x-data="{ show: true }" x-show="show" x-transition>
                        <div class="d-flex">
                            <div>
                                {% if message.tags == 'success' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-check"></use>
                                </svg>
                                {% elif message.tags == 'error' or message.tags == 'danger' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-alert-circle"></use>
                                </svg>
                                {% elif message.tags == 'warning' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-alert-triangle"></use>
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <use href="{% static 'icons/tabler-sprite.svg' %}#tabler-info-circle"></use>
                                </svg>
                                {% endif %}
                            </div>
                            <div>{{ message }}</div>
                        </div>
                        <button type="button" class="btn-close" @click="show = false" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <!-- Page content -->
                {% block content_body %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                <a href="#" class="link-secondary">Documentação</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                LATECME &copy; {% now "Y" %}
                            </li>
                            <li class="list-inline-item">
                                <span class="text-muted">v1.0</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
